{% extends "base.twig" %}

{% block title %}Hall of Fame{% endblock %}

{% block content %}
    <div class="span-24">
        <p class="right">
            They shall grow not old, As we that are left grow old / Age shall not weary them, Nor the years condemn / </br>
            At the going down of the sun / And in the morning / We will remember them.
        </p>
    </div>
    
    <div class="span-24">
        <div class="person">
            <a href="/{{person.id}}"><img src="images/people/{{person.image}}" alt="{{person.name}}" /></a>
            <div class="details">
                <div class="name">{{person.name}}</div>
                <div class="service">{{person.service}}</div>
            </div>
        </div>
    </div>

    <div class="span-24">
        <h2>Quotes</h2>
        {% for quote in person.quotes %}
        
        <p class="quote">
            {{quote}}
        </p>
        
        {% endfor %}
    </div>
    
{% endblock %}
